# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [57]:
#Import via condas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
#Load and examine the dataset
Restaurant_data_df = pd.read_csv("Datafiniti_Vegetarian_and_Vegan_Restaurants.csv")
Restaurant_data_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'claimed', 'country', 'cuisines',
       'descriptions.dateSeen', 'descriptions.sourceURLs',
       'descriptions.value', 'facebookPageURL', 'features.key',
       'features.value', 'hours.day', 'hours.dept', 'hours.hour', 'imageURLs',
       'isClosed', 'keys', 'languagesSpoken', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.category',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'menus.sourceURLs', 'name', 'paymentTypes', 'phones', 'postalCode',
       'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax', 'province',
       'sic', 'sourceURLs', 'twitter', 'websites', 'yearOpened'],
      dtype='object')

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [59]:
#Some of my data columns a missing more than 80% data
#Calculate fraction of missing values
missing_fraction = Restaurant_data_df.isnull().mean()

#Select columns where more than 80% of data is missing
columns_to_drop = missing_fraction[missing_fraction > 0.8].index

#Drop columns with more than 80% missing values
Restaurant_data_df.drop(columns=columns_to_drop, inplace=True)

#Check the remaining columns
Restaurant_data_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'cuisines', 'imageURLs', 'keys',
       'latitude', 'longitude', 'menuPageURL', 'menus.amountMax',
       'menus.amountMin', 'menus.category', 'menus.currency', 'menus.dateSeen',
       'menus.description', 'menus.name', 'menus.sourceURLs', 'name',
       'paymentTypes', 'phones', 'postalCode', 'priceRangeCurrency',
       'priceRangeMin', 'priceRangeMax', 'province', 'sourceURLs', 'websites'],
      dtype='object')

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [60]:
#Examples of multi-value column needing to be cleaned
Restaurant_data_df['paymentTypes'].unique()

array([nan, 'American Express,VISA', 'Cash', 'American Express', 'AMEX',
       'Mastercard,Visa,American Express,Diners Club',
       'American Express,Mastercard,Visa', 'Visa,MasterCard',
       'master card,amex,visa',
       'American Express,Diners Club,Mastercard,Visa',
       'Visa,American Express',
       'amex,discover,master card,visa,Mastercard,Discover,Visa,American Express',
       'American Express,Visa,Discover,Cash,Mastercard',
       'discover,visa,amex,mastercard,MasterCard',
       'Mastercard,Discover,Visa,American Express,Check',
       'Mastercard,Visa', 'Mastercard,Discover,Visa,American Express',
       'Discover,Visa',
       'American Express,Diners Club,Discover,Mastercard,Visa',
       'Mastercard,Visa,American Express',
       'Mastercard,Discover,Visa,American Express,Diners Club,diners club',
       'amex', 'American Express,Mastercard,Visa,discover', 'mastercard',
       'Mastercard',
       'Mastercard,Discover,Visa,American Express,Diners Club',
       'amex,mastercard,discover,visa,AMEX',
       'amex,discover,mastercard,visa', 'Cash,Mastercard,Visa',
       'American Express,Discover,Mastercard,Visa,amex,visa,discover,master card',
       'American Express,Mastercard,Visa,Discover',
       'American Express,Cash,Debit Card,Mastercard,Visa',
       'American Express,Discover,Mastercard,Visa',
       'discover,mastercard,amex', 'visa', 'AMEX,American Express',
       'Mastercard,Discover,Visa,Travelers Check,American Express',
       'discover,amex', 'American Express,MasterCard', 'amex,visa',
       'American Express,Debit Card,Discover,Mastercard', 'MasterCard',
       'Cash,Check,Discover,Mastercard,Visa'], dtype=object)

In [61]:
#One of the messiest columns, lots of encoding issues in our string
Restaurant_data_df["menus.description"].sample(15)

1131                                                  NaN
8971                                                  NaN
1543                                          acqua panna
2709                                      daily selection
408                                                   NaN
4555    a smooth blend of peanut butterampcomma banana...
2817                                                  NaN
8018                                                  NaN
7297    Elbow Macaroni with your choice of Creamy 3 Ch...
1254                                                  NaN
8736                                                  NaN
5514                                                  NaN
3981    Romaine Organic Chickpeas Local Feta Kalamata ...
4048    Two pieces of multigrain toast topped with Spi...
9899                                                  NaN
Name: menus.description, dtype: object

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [62]:
# Drop columns for URL data
def drop_urls(dataframe):
    url_columns = [col for col in dataframe.columns if 'URL' in col]
    dataframe.drop(columns=url_columns, inplace=True)
    return dataframe

Restaurant_data_df = drop_urls(Restaurant_data_df)
Restaurant_data_df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'cuisines', 'keys', 'latitude',
       'longitude', 'menus.amountMax', 'menus.amountMin', 'menus.category',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'name', 'paymentTypes', 'phones', 'postalCode', 'priceRangeCurrency',
       'priceRangeMin', 'priceRangeMax', 'province', 'websites'],
      dtype='object')

 Viewing the code in Excel and in Step 2 shows that many of the columns have multi-value data, along with encoding issues, spacing, and capitalization. I chose to rename columns in Excel and take notes about them since the sheet was so messy. These notes explane changes and next steps.

In [63]:
''' Renaming columns in excel and notes - All names were changed/capitalized via Excel
'id', -- Clean
'dateAdded', -- Will shorten format to date only in python
'dateUpdated', -- Will shorten format to date only in python
'address', -- Clean
'categories', -- Multi-value
'primaryCategories', -- Renamed to "Service Category" in excel, multi-value
'city', -- Clean
'country', -- Deleted in excel - every entry is the same
'cuisines', Multi-value column, may need small amount of cleaning for spacing
'keys', -- Clean
'latitude' -- Decimal formatted in excel (all equal amount of decimals)
'longitude', Decimal formatted in excel
'menus.amountMax', -- Decimal formatted in excel($)
'menus.amountMin', -- Decimal formatted in excel($)
'menus.category', -- Renamed to "Menu Category" in excel, cleaning needed
'menus.currency', -- Deleted in excel, every entry is the same
'menus.dateSeen', -- May drop column
'menus.description', -- Needs cleaning for encoding errors
'menus.name', Renamed to "Menu Item Name" in excel, some cleaning needed
'name', -- Renamed to "Restaurant Name" in excel, clean
'paymentTypes', -- Renamed to "Payment Types" in excel, needs cleaning, multi-value
'phones', --renamed to "Phone Number", will change to boolean in python
'postalCode', -- Clean
'priceRangeCurrency', -- Deleted in excel, every entry is the same
'priceRangeMin', -- Deleted in excel - same as priceRange Max
'priceRangeMax', -- decimal formatted in excel($), Renamed "MenuItemPrice"
'province', -- Renamed to "State" in excel, clean
'websites', -- Change to boolean in python
'''
## ()-identifer value, []-online platform related, $-ready to use, *Explore/Clean, ^-boolean
# All Updated Name
# (ID) [DateAdded] [DateUpdated]
# Address$	Categories*	Service Category*	
# City$ 	Cuisines*	(Key)	
# Latitude$ 	Longitude$	 MenuItemPrice$ 	
# MenuCategory*	[MenuDateSeen]	MenuDescription* MenuItemName*	
# RestaurantName$	PaymentTypes*  PhoneNumber^	PostalCode$	
# PriceRangeMin$	PriceRangeMax$	State$	Website^
# paymentTypes_list	paymentTypes_clean

' Renaming columns in excel and notes - All names were changed/capitalized via Excel\n\'id\', -- Clean\n\'dateAdded\', -- Will shorten format to date only in python\n\'dateUpdated\', -- Will shorten format to date only in python\n\'address\', -- Clean\n\'categories\', -- Multi-value\n\'primaryCategories\', -- Renamed to "Service Category" in excel, multi-value\n\'city\', -- Clean\n\'country\', -- Deleted in excel - every entry is the same\n\'cuisines\', Multi-value column, may need small amount of cleaning for spacing\n\'keys\', -- Clean\n\'latitude\' -- Decimal formatted in excel (all equal amount of decimals)\n\'longitude\', Decimal formatted in excel\n\'menus.amountMax\', -- Decimal formatted in excel($)\n\'menus.amountMin\', -- Decimal formatted in excel($)\n\'menus.category\', -- Renamed to "Menu Category" in excel, cleaning needed\n\'menus.currency\', -- Deleted in excel, every entry is the same\n\'menus.dateSeen\', -- May drop column\n\'menus.description\', -- Needs cleaning for encoding errors\n\'menus.name\', Renamed to "Menu Item Name" in excel, some cleaning needed\n\'name\', -- Renamed to "Restaurant Name" in excel, clean\n\'paymentTypes\', -- Renamed to "Payment Types" in excel, needs cleaning, multi-value\n\'phones\', --renamed to "Phone Number", will change to boolean in python\n\'postalCode\', -- Clean\n\'priceRangeCurrency\', -- Deleted in excel, every entry is the same\n\'priceRangeMin\', -- Deleted in excel - same as priceRange Max\n\'priceRangeMax\', -- decimal formatted in excel($), Renamed "MenuItemPrice"\n\'province\', -- Renamed to "State" in excel, clean\n\'websites\', -- Change to boolean in python\n'

In [64]:
#Loading New CSV
Restaurant_data_cleaned_df = pd.read_csv("Restaurant_data_cleaned.csv")
Restaurant_data_cleaned_df.columns
#the remaining columns are ready for further cleaning.

Index(['ID', 'DateAdded', 'DateUpdated', 'Address', 'Categories',
       'Service Category', 'City', 'Cuisines', 'Key', 'Latitude', 'Longitude',
       ' MenuItemPrice ', 'MenuCategory', 'MenuDateSeen', 'MenuDescription',
       'MenuItemName', 'RestaurantName', 'PaymentTypes', 'PhoneNumber',
       'PostalCode', ' PriceRangeMin ', ' PriceRangeMax ', 'State', 'Website',
       'paymentTypes_list', 'paymentTypes_clean'],
      dtype='object')

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.
- I am checking for consistency in our Longitude/Latitude data to make sure it is within range. The data is largely irregular and not inconsistent

### At this point I have  
Explored data, done preliminary cleaning, renamed columns, deleted unusable or unnessary columns, and assessed further steps. 
From here I will - 
- Clean string columns
- Convert dates to date only
- Clean multi-value columns 
- Switch some data to Boolean
- Validate latitude/longitude
- Remove duplicates, and 
- extract the file again.
- *some of this has already been done with our payment info.

In [65]:
#Phone Number and Website columns converted to boolean so we can asses them from a yes/no perspective
Restaurant_data_cleaned_df["HasPhone"] = (
    Restaurant_data_cleaned_df["PhoneNumber"].notna()
)

Restaurant_data_cleaned_df["HasWebsite"] = (
    Restaurant_data_cleaned_df["Website"].notna()
)

In [66]:
#Validate Latitude and Longitude columns
Restaurant_data_cleaned_df = Restaurant_data_cleaned_df[
    Restaurant_data_cleaned_df["Latitude"].between(-90, 90) &
    Restaurant_data_cleaned_df["Longitude"].between(-180, 180)
]

In [67]:
#Convert datetime to date only
Restaurant_data_cleaned_df["DateAdded"] = (
    pd.to_datetime(Restaurant_data_cleaned_df["DateAdded"], errors="coerce")
    .dt.date
)

Restaurant_data_cleaned_df["DateUpdated"] = (
    pd.to_datetime(Restaurant_data_cleaned_df["DateUpdated"], errors="coerce")
    .dt.date
)

In [68]:
#Cleaning string columns
string_columns = Restaurant_data_cleaned_df.select_dtypes(include="object").columns

for col in string_columns:
    Restaurant_data_cleaned_df[col] = (
        Restaurant_data_cleaned_df[col]
        .astype(str)
        .str.replace("ampamp", "&", regex=False)
        .str.replace("&amp;", "&", regex=False)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
        .replace("nan", pd.NA)
    )

In [69]:
def normalize_multivalue_column(series):
    cleaned = (
        series
        .str.lower()
        .str.replace(r"\s*,\s*", ", ", regex=True)
        .str.replace(",+", ",", regex=True)
        .str.strip(" ,")
    )

    return cleaned.apply(
        lambda x: ", ".join(dict.fromkeys(x.split(", "))) if pd.notna(x) else x
    )


Restaurant_data_cleaned_df["Categories_clean"] = normalize_multivalue_column(
    Restaurant_data_cleaned_df["Categories"]
)
Restaurant_data_cleaned_df["Categories_list"] = (
    Restaurant_data_cleaned_df["Categories_clean"].str.split(", ")
)


Restaurant_data_cleaned_df["ServiceCategory_clean"] = normalize_multivalue_column(
    Restaurant_data_cleaned_df["Service Category"]
)
Restaurant_data_cleaned_df["ServiceCategory_list"] = (
    Restaurant_data_cleaned_df["ServiceCategory_clean"].str.split(", ")
)


Restaurant_data_cleaned_df["Cuisines_clean"] = normalize_multivalue_column(
    Restaurant_data_cleaned_df["Cuisines"]
)
Restaurant_data_cleaned_df["Cuisines_list"] = (
    Restaurant_data_cleaned_df["Cuisines_clean"].str.split(", ")
)


Restaurant_data_cleaned_df["PaymentTypes_clean"] = normalize_multivalue_column(
    Restaurant_data_cleaned_df["PaymentTypes"]
)
Restaurant_data_cleaned_df["PaymentTypes_list"] = (
    Restaurant_data_cleaned_df["PaymentTypes_clean"].str.split(", ")
)

Rechecking work in Excel - deleted excess columns and keeping cleaned, list columns.
Seeing further issues in - 'menu description' and 'menu item name' with encoding leakage

In [70]:
final_cleaned_df = pd.read_csv("Restaurant_data_cleaned_final.csv")

In [ ]:
#This step took a lot of tries since I kept finding more encoding errors
def decode_text(series):
    cleaned = (
        series.astype(str)
        #Fix common HTML-style encodings
        .str.replace("ampcomma", ",", regex=False)
        .str.replace("ampapos", "'", regex=False)
        .str.replace("amp39", "'", regex=False)
        .str.replace("ampquot", '"', regex=False)
        .str.replace("ampamp", "&", regex=False)
        #Remove any remaining 'amp'
        .str.replace("amp", "", regex=False)
        #Normalize punctuation spacing
        .str.replace(r"\s*,\s*", ", ", regex=True)
        .str.replace(r'\s*"\s*', '"', regex=True)
        .str.replace(r"\s*'\s*", "'", regex=True)
        .str.replace(r"\s*&\s*", " & ", regex=True)
        #Collapse extra spaces
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
        #Replace literal 'nan' with pd.NA
        .replace("nan", pd.NA)
    )
    return cleaned

# Apply to your DataFrame
final_cleaned_df["MenuDescription"] = decode_text(
    final_cleaned_df["MenuDescription"]
)
final_cleaned_df["MenuItemName"] = decode_text(
    final_cleaned_df["MenuItemName"]
)

In [74]:
final_cleaned_df["MenuItemName"].sample(15)
#Cleaned columns are looking much better, replaced old columns with new columns via excel
final_cleaned_df.columns
#Export the final cleaned DataFrame to a new CSV
#final_cleaned_df.to_csv('Vegan_Vegetarian_Restaurants.csv', index=False)

Index(['ID', 'DateAdded', 'DateUpdated', 'Address', 'City', 'Key', 'Latitude',
       'Longitude', ' MenuItemPrice ', 'MenuCategory', 'MenuDescription',
       'MenuItemName', 'RestaurantName', 'PostalCode', ' PriceRangeMin ',
       ' PriceRangeMax ', 'State', 'HasPhone', 'HasWebsite', 'Categories_list',
       'ServiceCategory_list', 'Cuisines_list', 'PaymentTypes_list'],
      dtype='object')

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
    The data is very messy however it was quite consistent, this is most likely due to most of the data being descriptive. There was a lot of irregular data when it came to formatting and encoding errors - the data is much more usable at this point.
    Some data was already clean such as our time based columns, urls, ect but not all was necesary for our analysis.
2. Did the process of cleaning your data give you new insights into your dataset?
    Cleaning the data definitely made me excited to load my final csv into Tableau to see how the data appears - there is a wealth of descriptive data so I will be working to find paralells between things like names, ingredients, and counts of items/restaurants by location
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
    Our multi-value columns will work well with 'wildcard' functions for filtering during our tableau visualizations, very excited to see what we can derive from our data!